*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Montserrat, sans-herif;
}

h1{
    padding: 25px;
    text-align: center;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.gallery > div{
    margin: 3px;
    flex-grow: 1;
    overflow: hidden;

}

.gallery > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-out;
}
.gallery > div > img:hover{
    transform: scale(1.2);
}
